<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Home</h1>
    <a href="/catalogue/catalogue_menu"><input type="button" value="Catalogue"></a>
    <a href="/storage/storage_list"><input type="button" value="Storage"></a>
    <a href="/store_orders/store_orders_list"><input type="button" value="Store orders"></a>
    <a href="/customers_orders/customers_orders_list"><input type="button"
                                                             value="Customer's orders"></a>
</div>
</body>
</html>