<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create customer order</title>
</head>
<body>
<div>
    <form action="#" th:action="@{/customers_orders/create_customer_order}" th:object="${customerOrder}" method="post">
        <legend>Create customer order</legend>

        <div>
            <select th:field="*{catalogue}" id="catalogue">
                <option th:each="sku : ${catalogues}" th:value="${sku.id}"
                        th:text="${sku.good.name + ' ' + sku.supplier.name + ' ' + sku.storePrice}"></option>
            </select>
            <label for="catalogue">SKU</label>
        </div>

        <div>
            <input type="number" th:field="*{skuAmount}" id="skuAmount" min="1">
            <label for="skuAmount">SKU amount</label>
        </div>

        <div>
            <a href="/customers_orders/customers_orders_list"><input type="button" value="Back"></a>
            <input type="reset" id="reset" value="Reset">
            <input type="submit" id="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>